Source: gammaradio
Section: utils
Priority: optional
Maintainer: Keng-Yu Lin <kengyu@lexical.tw>
Build-Depends: debhelper (>= 9), qt5-default, libqt5webkit5-dev
Standards-Version: 3.9.5
Homepage: https://github.com/lexical/gammaradio

Package: gammaradio
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, flashplugin-installer|adobe-flashplugin
Description: Application to Listen to Hichannel Radio
 Application to listen to the radio stations from Hichannel service.
